
body{
    margin: 0px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
header{
    display: flex;
}
.headers{
    height: 100px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-right: 50px;
}
.headers-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.first-headers{
    border: 5px solid rgb(93,118,149);
    background-color: rgb(152,181,211);
}
.seconds-headers{
    background-image: linear-gradient(6deg, rgb(59, 84, 111), rgb(125,149,186));
    border: 5px solid rgb(111,140,174);
    border-right: 2.5px;
}
.headers-span-mini{
    font-size: 25px;
}
.headers-span{
    font-size: 50px;
    font-weight: 600;
}
.headers-icon{
    color: rgb(162,237,242);
}
body{
    display: flex;
    flex-direction: column;
}
.second-image{
    width: 100%;
    height: 1000px;
}
.second-image img {
    width: 100%;
    height: 100%;
}
.first-stats{
    display: flex;
  
    
}
.stats-border{
    border: 5px solid rgb(111,140,174);
    border-right: 2.5px;
}
.first-stats-first-block{
    width: 28%;
    height: 150px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: linear-gradient(6deg, rgb(59, 84, 111), rgb(125,149,186));
}
.first-stats-date{
    font-size: 100px;
}
.first-screen {
    flex: 1;
    height: 200px;
    
}
.first-screen img{
    width: 100%;
    height: 100%;
}
.third-element-in-stats{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 160px;
    background-image: linear-gradient(6deg,  rgb(125,149,186),rgb(59, 84, 111));
    padding: 20px;
}
.span-on-third-element{
    font-size: 27px;
}
.enabled{
    font-size: 27px;
    color: rgb(162,237,242);
}
.time-to-end{
    font-size: 70px;
}
.dive{
    display: flex;
    gap: 40px;
    
}
.four-element-in-stats{
    flex: 1;
    background-image: linear-gradient(6deg,  rgb(125,149,186),rgb(59, 84, 111));
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 150px;
    
}
.first-span-on-four-element{
    color: lightgrey;
    font-size: 28px;
}
.second-span-on-four-element{
    font-size: 70px;
}
.third-span-on-four-element{
    font-size: 28px;
    color: rgb(162,237,242);
}
.section4{
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-image: linear-gradient(6deg, rgb(59, 84, 111), rgb(125,149,186));
    align-items: center;
    padding: 25px;
    color: rgb(162,237,242);;
    font-size: 60px;

}